@page "/add-post"
@using Microsoft.EntityFrameworkCore;
@using BlazorApp.Shared.Auth;
@using BlazorApp.Models;
@inject AuthenticationStateProvider authStateProvider
@inject FamilyLifeContext context
@attribute [Authorize(Roles = "Administrator,User")]

<h2>Создание нового поста</h2>
<h3>Заголовок</h3>
<form>
	<input @bind-value="header">
</form>
<h3>Содержание</h3>
<form>
	<textarea @bind="content"></textarea>
</form>
<button @onclick="Add">
	Добавить пост
</button>

@code {
	string content = "";
	string header;
	Post post = new Post();
	private async Task Add()
	{
		post.Header = header;
		post.PostContent = content;
		post.CreatedAt = DateTime.Now;
		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		var authState = await customAuthStateProvider.GetAuthenticationStateAsync();
		post.Creator = context.Users.Find(Convert.ToInt32(authState.User.Claims.First().Value));
		context.Posts.Add(post);
		context.SaveChanges();
		header = null;
		content = "";
	}
}

