@page "/posts-list"
@using Microsoft.EntityFrameworkCore;
@using BlazorApp.Models;
@inject FamilyLifeContext context
@attribute [Authorize(Roles ="Administrator,User")]

<h2>Посты</h2>
@foreach (var post in posts)
{
    <div class = "card" style="width: 40rem;">
        <div class = "card-header">
            @post.Header
        </div>
        <div class = "card-subtitle">
            Создатель: @post.Creator.Username
        </div>
        <div class = "card-body">
            @post.PostContent
        </div>
    </div>
    <hr/>
}

@code {
    private List<Post> posts = new List<Post>();
    private List<User> users = new List<User>();
    protected override async Task OnInitializedAsync()
    {
        posts = await context.Posts.ToListAsync();
        users = await context.Users.ToListAsync();
    }
}